body{
	background-color: #576d94;
}

img{
	
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

h1{
	font-family: Verdana;
}

#navbar {

	position: relative;
	top:1.2em;
	
}

.footer{
	position: relative;
	bottom: -0.7em;
	background-color: #3c4543;
	height: 4em;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.header {
	position: relative;
	top: -0.8em;
	background-color: #3c4543;
	height: 4em;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 0.5em;
	border-radius: 5px 5px;
	background-color: #cc0323
}

.name{
	color: white;
	font-size: large;
	
}

.headshot{

height: 20em;
width: 15em;

}


#rounded{
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	height: 100px;
	width: 100px;
	color: #000000;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc0323;	
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  clear: both;
}

.button:hover {background-color: #008CBA}

.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}