html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #00ccff;
}

.nav {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #008CBA;
	overflow: auto;
	heigth: 100px;
	border-bottom: solid white 2px;
}

.name {
	float: left;
	width: 20%;
	border-right: solid white 2px;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 32px;
	height: 50px;
	font-family: arial;
}

.button_container {
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #00bfff;
	border: solid grey 1px;
	border-radius: 15px;
	clear: both;
}

.button:hover {
	background-color: #008CBA
}

.button:active {
	background-color: #00bfff;
}